{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}
<h1 class="title">{{ ingredient.name }} Details</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="details-div">
    <h3>Ingredient Name: {{ ingredient.name }}</h3>
    {% if ingredient.category %}
    <p>Category: {{ ingredient.category }}</p>
    {% else %}
    <p>Category: Not assigned a category yet</p>
    {% endif %}
    <button class="btn" onclick="window.location.href='/ingredients/{{ingredient.id}}/edit'">Edit Ingredient</button>
</div>

<form action='/ingredients/{{ingredient.id}}/delete', method="POST">
    {{ form.hidden_tag() }}
    
    <button class="btn" >Delete</button>
</form>


{% endblock %}