{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}
<h1 class="title">Ingredients</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

{% if ingredients %}
    {% for ingredient in ingredients %}
        <div class="details-div">
            <h3>Ingredient Name: <a href="/ingredients/{{ingredient.id}}">{{ ingredient.name }}</a></h3>
            {% if ingredient.category %}
            <p class="details">Category: {{ ingredient.category }}</p>
            {% else %}
            <p class="details">Category: Not assigned a category yet</p>
            {% endif %}
        </div>
    {% endfor %}

{% else %}
        <h3>You haven't added any ingredients yet</h3>
{% endif %}
<button class="btn" onclick="window.location.href='/ingredients/add'">Add New Ingredient</button>
{% endblock %}