{% extends 'base.html' %}

{% block title %}Ingredients{% endblock %}

{% block content %}
<h1>Ingredients</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}


<div>
    <h3>Ingredient Name: {{ ingredient.name }}</h3>
    {% if ingredients.category %}
    <p>Category: {{ ingredient.category }}</p>
    {% else %}
    <p>Category: Not assigned a category yet</p>
    {% endif %}
    <button onclick="window.location.href='/ingredients/<int:ingredient_id>/edit'">Edit Ingredient</button>
</div>

<form action='/ingredients/delete', method="POST">
    {{ form.hidden_tag() }}
    
    <button>Delete</button>
</form>


{% endblock %}