{% extends 'base.html' %}

{% block title %}Item Details{% endblock %}

{% block content %}
<h1>{{ item.ingredient_name }} Details</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}


<div>
    <h3>Ingredient Name: {{ item.ingredient_name }}</h3>
    
    <p>Quantity: {{ item.ingredient_quantity }} {{ item.uom }}</p>
    
    <p>Expiry Date: {{ item.expiry_date }}</p>

    <button onclick="window.location.href='/users/{{g.user.id}}/pantryitems'">Back</button>
</div>
<button class="api-call-button" id="{{item.ingredient_name}}">Find Recipe</button>

<form action='/pantryitems/{{item.id}}/delete', method="POST">

    <button>Delete</button>
</form>


{% endblock %}