{% extends 'base.html' %}

{% block title %}Item Details{% endblock %}

{% block content %}
<h1 class="title">{{ item.ingredient_name }} Details</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}


<div class="details-div">
    <h3>{{ item.ingredient_name }}</h3>
    
    <p class="details">Quantity: {{ item.ingredient_quantity }} {{ item.uom }}</p>
    
    <p class="details">Expiry Date: {{ item.expiry_date }}</p>

    <button class="btn" onclick="window.location.href='/users/{{g.user.id}}/pantryitems'">Back</button>
</div>
<button class="api-call-button btn" id="{{item.ingredient_name}}">Find Recipe</button>

<form action='/pantryitems/{{item.id}}/delete', method="POST">

    <button class="btn">Delete</button>
</form>


{% endblock %}