{% extends 'base.html' %}

{% block title %}Pantry{% endblock %}

{% block content %}
<h1 class="title">Pantry</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endwith %}

{% for item in pantry %}

<div class="details-div">
    <h3 onclick="window.location.href='/pantryitems/{{item.id}}'">{{ item.ingredient_name }}</h3>
    <p>Quantity: {{ item.ingredient_quantity }} {{ item.uom }}</p>
    <p>Expiry Date: {{ item.expiry_date }}</p>
    {% if item.days_left == 1 %}
    <p class='near-expiry'>Days left: {{ item.days_left }}</p>
    {% elif item.days_left < 1 %}
    <p class='expired'>EXPIRED</p>
    {% else %}
    <p class='days-left'>Days left: {{ item.days_left }}</p>
    {% endif %}
    
    
    <button class="btn" onclick="window.location.href='/pantryitems/{{item.id}}/edit'">Edit Item</button>

    <form action='/pantryitems/{{item.id}}/delete', method="POST">
        <button class="btn">Delete</button>
    </form>
</div>

{% endfor %}

<button onclick="window.location.href='/pantryitems/add'"><i class="fa-solid fa-plus"></i></button>
{% endblock %}