{% extends 'base.html' %}

{% block title %}Pantry{% endblock %}

{% block content %}
<h1>Pantry</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endwith %}

{% for item in pantry %}

<div>
    <h3>Item Name: {{ item.ingredient_name }}</h3>
    <p>Quantity: {{ item.ingredient_quantity }} {{ item.uom }}</p>
    <p>Expiry Date: {{ item.expiry_date }}</p>
    <p class='days-left'>Days left: {{ item.days_left }}</p>
    
    <button onclick="window.location.href='/pantryitems/{{item.id}}/edit'">Edit Item</button>

    <form action='/pantryitems/{{item.id}}/delete', method="POST">
        <button>Delete</button>
    </form>
</div>

{% endfor %}

<button onclick="window.location.href='/pantryitems/add'">New Item</button>
{% endblock %}