#suggestions-container{
    max-height: 100px;
    overflow-y: auto;
    max-width: 150px;
    margin-left: 68px;
    margin-top: -10px;
}

#suggestions{
    list-style-type: none;
    margin: 0px;
    padding-top: 5px;
    padding-left: 10px;

}

#suggestions li{
    margin-bottom: 10px;
}

.border-visible{
    border: 1px solid burlywood;
    border-radius: 5px;
}