*{
    margin: 0;
    --primary-color:#EFEFEF;
    --secondary-color:#163929;
    --title-color:#e0ca9a;
}

body{
    background-color: var(--primary-color);
}
.title{
    color: var(--secondary-color);
    margin-top: 7px;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 0;
    height: 13vh;
    padding-left: 40px;
    color: var(--title-color);
    font-size: 25px;
}

.navlinks{
    margin-right: 30px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    color: var(--title-color);
}

.navs:hover{
    color: rgb(221, 176, 117);
}

.navs{
    color: var(--title-color);
    font-size: 22px;
}
a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

.app-body{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 50px;
}

.user-info-left, .user-info-right{
    height: 70vh;
    width: 30vw;
    border: 2px solid var(--title-color);
    padding: 30px;
    background-color: #f2efe7;
    border-radius: 15px;
    overflow: auto;
    white-space: nowrap;
}

.details-div, .title, .action-buttons{
    margin-bottom: 14px;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    margin-top: 10px;
}

.edit:hover{
    color: white;
    background-color: blue;
    font-weight: 500;
    cursor: pointer;
    padding-top: 3px;
}

.delete{
    padding: 3px;
}
.delete:hover{
    color: white;
    background-color: rgb(212, 1, 1);
    font-weight: 700;
    cursor: pointer;
}

.add{
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: white;
    border-radius: 7px;
    font-size: 20px;
    text-align: center;
}

.add:hover{
    color: var(--title-color);
    background-color: var(--secondary-color);
}

.user-details-div{
    color: var(--letters-color);
    margin-bottom: 10px;
    width: 300px;
    padding: 20px;
}

.user-console{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#suggestions-container{
    max-height: 100px;
    overflow-y: auto;
    max-width: 150px;
    margin-left: 68px;
    margin-top: -10px;
}
h1{
    padding: 10px;
}
li{
    list-style-type: none;
}

h3{
    margin-bottom: 20px;
}

p{
    margin-bottom: 25px;
}

.item-name{
    cursor: pointer;
    color: var(--secondary-color);
}

#suggestions{
    margin: 0px;
    padding-top: 5px;
    padding-left: 10px;

}

#suggestions li{
    margin-bottom: 10px;
}

.border-visible{
    border: 1px solid burlywood;
    border-radius: 5px;
}

.near-expiry{
    color: red;
    font-weight: 600;
}

.expired{
    color: red;
    text-decoration: line-through;
}

.details{
    margin-top: 10px;
    font-size: 18px;
}

.btn{
    border-radius: 8px;
    height: 30px;
    color: var(--secondary-color);
    width: 40px;
    border: 2px solid var(--secondary-color);
    font-size: 18px;
}

.details-div{
    margin-left: 40px;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid var(--title-color);
    background-color: #f2efe7;
    height: 200px;
}

.pantry-items{
    display: flex;
    flex-direction: row;
    width: 1400px;
    flex-wrap: wrap;
    justify-content: left;
    
}

.pantry-console{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    margin-left: 35px;
}

.api-call-button{
    width: 120px;
    height: 30px;
    padding-top: 3px;
}

.back{
    margin: 10px;
    padding-top: 3px;
}

.back:hover, .api-call-button:hover{
    background-color: var(--secondary-color);
    color: var(--title-color);
}

.item-console{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding-top: 15px;
}

.pantry-heading{
    margin-left: 30px;
    margin-top: 5px;
}

.flash-messages p{
    margin: 0 auto;
    color: var(--secondary-color);
}

.recipe-div{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-bottom: 15px;
    padding: 15px;
    width: 1300px;
    border-radius: 10px;
    border: 2px solid var(--title-color);
    background-color: #f2efe7;
    height: 200px;
    gap: 20px;
    justify-content: space-between;
}

.recipe-info{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 170px;
}
img{
    width: 200px;
}

.ingredients-title{
    margin-left: 40px;
}

.form{
    border: 2px solid var(--title-color);
    width: 25vw;
    font-size: 24px;
    color: var(--secondary-color);
    border-radius: 10px;
    margin: 0 auto;
    padding: 25px;
    background-color: #f2efe7;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.form-fields{
    border-radius: 5px;
    border: 1px solid var(--title-color);
    margin-left: 10px;
    color: var(--secondary-color);
}

.form-title, .login-note{
    margin: 20px auto;
    width: 240px;
    color: var(--secondary-color);
}

.form-title{
    padding-left: 100px;
}

.login-note{
    font-size: 16px;
}