*{
    margin: 0;
    --primary-color:#EFEFEF;
    --secondary-color:#163929;
    --title-color:#e0ca9a;
}
/* Lime Green (#6ABD6D)
Bright Yellow (#FDFD00)
Teal (#00AA8E)
Pale Green (#D6F5E0)
Deep Green (#194A2B) */

body{
    background-color: var(--primary-color);
}
.title{
    color: var(--secondary-color);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    margin: 0;
    height: 13vh;
    padding-left: 40px;
    color: var(--title-color);
    font-size: 25px;
}

.navlinks{
    margin-right: 30px;
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    color: var(--title-color);
}

a:hover{
    color: rgb(221, 176, 117);
    text-decoration: underline;
}

a{
    color: var(--title-color);
    font-size: 22px;
    text-decoration: none;
}

.app-body{
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(50, 49, 49);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    
}

.details-div, .title, .action-buttons{
    margin-bottom: 20px;
}

.user-details-div{
    color: var(--letters-color);
    border: 1px solid var(--title-color);
    margin-bottom: 10px;
    width: 300px;
    padding: 20px;
}


#suggestions-container{
    max-height: 100px;
    overflow-y: auto;
    max-width: 150px;
    margin-left: 68px;
    margin-top: -10px;
}

li{
    list-style-type: none;
}



#suggestions{
    margin: 0px;
    padding-top: 5px;
    padding-left: 10px;

}

#suggestions li{
    margin-bottom: 10px;
}

.border-visible{
    border: 1px solid burlywood;
    border-radius: 5px;
}

.near-expiry{
    color: red;
    font-weight: 600;
}

.expired{
    color: red;
    text-decoration: line-through;
}

.details{
    margin-top: 10px;
    font-size: 18px;
}

.btn{
    border-radius: 8px ;
    height: 25px;
    width: 100px;
}

