<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <h1>FoodWorx</h1>
        <div class="navlinks">
            {% if not g.user %}
            <li><a class="navs" href="/register">Sign up</a></li>
            <li><a class="navs" href="/login">Log in</a></li>
            {% else %}
            <li><a class="navs" href="/">Home</a></li>
            <li><a class="navs" href="/users/{{ g.user.id }}/pantryitems">Pantry</a></li>
            <li><a class="navs" href="/users/{{ g.user.id }}">{{ g.user.username }}</a></li>
            <li><a class="navs" href="/logout">Log out</a></li>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://kit.fontawesome.com/4b279df413.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>