{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h1 class="title form-title">Edit User</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
{% endwith %}

<form class="form" action="/users/{{g.user.id}}/edit", method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field (class="form-fields")}}

        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <button class="add">Save</button>
</form>

{% endblock %}