{% extends 'form_template.html' %}
{% block title %}Sign Up Form{% endblock %}

{% block content %}

<h1>Sign Up</h1>

<form action='/register', method='POST'>
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    
    <p>{{ field.label }}
        {{ field }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <button>Sign Up</button>
</form>
<p>If you have an account?<a href='/login'>login</a></p>
{% endblock %}