{% extends 'base.html' %}
{% block title %}Sign Up Form{% endblock %}

{% block content %}

<h1 class="title form-title">Sign Up</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form class="form" action='/register', method='POST'>
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    
    <p>{{ field.label }}
        {{ field (class="form-fields")}}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>

    {% endfor %}

    <button class="add">Sign Up</button>
</form>
<p class="login-note">If you have an account?<a href='/login'>login</a></p>
{% endblock %}