{% extends 'form_template.html' %}
{% block title %}Sign Up Form{% endblock %}

{% block content %}

<h1>Sign Up</h1>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
{% endwith %}

<form>
    {{form.hidden_tag()}}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>{{field.label}}
        {{field}}

        {% for error in form.errors %}
        {{error}}
        {% endfor %}
    </p>
    {% endfor %}

    <button>Sign Up</button>
</form>
<p>If you have an account?<a href='/login'>login</a></p>
{% endblock %}